numpy
opencv-python-headless
mediapipe
streamlit_lottie
streamlit_webrtc
streamlit
google-generativeai
requests
plotly
pydataset
streamlit-extras
aiortc
av
opencv-python
pysoundfile
opencv-python==4.7.0.72
opencv-python-headless==4.8.0.74

