numpy
opencv-python-headless
mediapipe
streamlit_lottie
streamlit_webrtc
streamlit
google-generativeai
requests
plotly
pydataset
streamlit-extras
aiortc
av
pysoundfile
tensorflow==2.13.0; python_version < "3.12"
